<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Table descriptionn</title>
    <link rel="stylesheet" href="./assets/css/style.css" />
  </head>

  <body>
    <div class="wrapper">
      <div class="table">
        <div class="top-title">
          <h2>Table Countries</h2>
        </div>
        <div class="wrap-input">
          <input type="text" placeholder="Search text ..." class="search" />
        </div>
        <div class="wrap-content">
          <div class="wrap-title">
            <div class="id">
              <h4>#</h4>
            </div>
            <div class="descriptionn">
              <h4>descriptionn</h4>
            </div>
            <div class="amount">
              <h4>amount</h4>
            </div>
            <div class="balence">
              <h4>balence</h4>
            </div>
          </div>
          <div class="wrap-item">
            <div class="id">
              <h4>1</h4>
            </div>
            <div class="descriptionn">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/f/f3/Flag_of_Russia.svg"
                alt=""
              />
              <h4>Russia</h4>
            </div>
            <div class="amount">
              <h4>17,075,200</h4>
            </div>
            <div class="balence">
              <h4>146,989,754</h4>
            </div>
          </div>
          <div class="wrap-item">
            <div class="id">
              <h4>2</h4>
            </div>
            <div class="descriptionn">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Flag_of_France.svg"
                alt=""
              />
              <h4>France</h4>
            </div>
            <div class="amount">
              <h4>640,679</h4>
            </div>
            <div class="balence">
              <h4>64,979,548</h4>
            </div>
          </div>
          <div class="wrap-item">
            <div class="id">
              <h4>3</h4>
            </div>
            <div class="descriptionn">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/b/ba/Flag_of_Germany.svg"
                alt=""
              />
              <h4>Germany</h4>
            </div>
            <div class="amount">
              <h4>357,114</h4>
            </div>
            <div class="balence">
              <h4>82,114,224</h4>
            </div>
          </div>
          <div class="wrap-item">
            <div class="id">
              <h4>4</h4>
            </div>
            <div class="descriptionn">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/5/5c/Flag_of_Portugal.svg"
                alt=""
              />
              <h4>Portugal</h4>
            </div>
            <div class="amount">
              <h4>82,090</h4>
            </div>
            <div class="balence">
              <h4>10,329,506</h4>
            </div>
          </div>

          <ul class="wrap-pagination">
            <li class="number">«</li>
            <li class="number selected">1</li>
            <li class="number">2</li>
            <li class="number">3</li>
            <li class="number">4</li>
            <li class="number">»</li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
